page-seen-card {
    .content {
        background: #fff;
        background-repeat: repeat;
        background-image: none;
        background-size: auto;
        background-image: url('../assets/imgs/seen/back2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .toolbar-title {
        color: #000 !important;
        font-weight: normal;
    }

    .label-ios[stacked]{
        font-size: 1.8rem !important;
    }
}
