<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="light">
    <ion-title>تغير كلمة السر</ion-title>
    <!-- <ion-buttons end>
      <button ion-button clear icon-only style="margin:0px 10px;">
        <img src="assets/imgs/home/notification.png" height="16" />
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <label class="label_name">كلمة السر القديمة </label>
    <ion-item class="input_1" no-padding>
      <input [(ngModel)]="old_pass" [type]="oType" placeholder="*********" />
      <ion-icon (click)="oType='text'" *ngIf="oType=='password'" ios="ios-eye-outline" item-end></ion-icon>
      <ion-icon (click)="oType='password'" *ngIf="oType=='text'" ios="ios-eye-off-outline" item-end></ion-icon>
    </ion-item>

    <label class="label_name">كلمة السر الجديدة</label>
    <ion-item class="input_1" no-padding>
      <input [(ngModel)]="new_pass" [type]="nType" placeholder="*********" />
      <ion-icon (click)="nType='text'" *ngIf="nType=='password'"  ios="ios-eye-outline" item-end></ion-icon>
      <ion-icon (click)="nType='password'"  *ngIf="nType=='text'" ios="ios-eye-off-outline" item-end></ion-icon>
    </ion-item>

    <label class="label_name">تاكيد كلمة السر</label>
    <ion-item class="input_1" no-padding>
      <input [(ngModel)]="confirmP" [type]="cType" placeholder="*********" />
      <ion-icon (click)="cType='text'" *ngIf="cType=='password'"  ios="ios-eye-outline" item-end></ion-icon>
      <ion-icon (click)="cType='password'" *ngIf="cType=='text'" ios="ios-eye-off-outline" item-end></ion-icon>
    </ion-item>

    <div padding class="btn_grp">
      <button ion-button block class="btn_cont" (click)="save()">
        ارسال
      </button>
    </div>
  </ion-list>
</ion-content>
