page-approved {



.heading_login p {
	font-size: 15px;
	margin-bottom: 20px;
}
.logo img {
	width: 140px;
	margin: 0 auto;
	display:block;
}
.login_form {
	margin: 0 30px;
}
.login_form_top {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.btn_grp {
	margin-top: 30px;
}
}
