page-quiz {


.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    background: #0000;
}
.content {
        background: #fff;
        background-repeat: repeat;
        background-image: none;
        background-size: auto;
        background-image: url('../assets/imgs/seen/back2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
.radio-icon {
    border: 2px solid #201e1e;
    border-radius: 50%;
    width: 20px !important;
    height: 20px !important;
}
.radio-ios .radio-checked .radio-inner {
    left: 2px;
    top: 2px;
    position: absolute;
    width: 12px;
    height: 12px;
    border-width: 5px;
    border-top-width: 5px;
    border-left-width: 5px;
    border-style: solid;
    border-color: #a404fa;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
    border: 6px solid #a404fa;
}
.radio-icon.radio-checked {
    border: 2px solid #fff;
}
ion-item.item.item-block.item-ios.item-radio.item-radio-checked {
    background: #a404fa;
    border-radius: 50px;
    color: #fff;
}
.item-radio-checked.item-ios ion-label {
    color: #fff;
}
ion-item.item.item-block.item-ios.item-radio {
    background: #201e1e30;
    margin: 16px 0;
    border-radius: 50px;
}
.btn_cont.btn_cont_1{
    font-size: 20px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 90%;
    }

    
}
