page-dashboard {
  .content {
    background: #fff;
    background-repeat: repeat;
    background-image: none;
    background-size: auto;
    background-image: url("../assets/imgs/seen/back2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
////prasoon issue kaha aa raha hai 2 min sir 
  .toolbar-title {
    text-align: center;
    color: #000 !important;
  }
  .title {
    //padding: 0 10px !important;
  }

  ion-avatar {
    min-width: 45px;
    min-height: 45px;
  }
  .card_nw {
    border-radius: 8px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.13);
    position: relative;
    .item {
      background: #eaf5f3;
      padding: 10px 16px;
      h2 {
        font-size: 15px;
      }
      p {
        font-size: 13px !important;
        font-family: "Nunito-Bold";
      }
    }
    .img_fx {
      width: 50px;
      position: absolute;
      right: -2px;
      top: -11px;
    }
  }
  ion-avatar img {
    border-radius: 50%;
    overflow: hidden;
    width: 45px !important;
    height: 45px !important;
    margin: 0;
    object-fit: contain;
    background: #fff;
  }

  .toolbar-background {
    border-color: rgba(255, 255, 255, 0) !important;
  }
  .upper_segment .segment-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 3.2rem;
    font-size: 1.3rem;
    line-height: 3rem;
    background-color: transparent;
    border: none !important;
    border-bottom: 2px solid #0000 !important;
    border-radius: 0 !important;
    font-size: 16px !important;
    color: #525252 !important;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px !important;
  }

  .upper_segment .segment-button.segment-activated {
    color: #0dbcfd !important;
    background-color: #fff !important;
    opacity: 1 !important;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    border-bottom: 2px solid #0dbcfd !important;
    border: none;
  }

  .upper_segment {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  }

  .search_panel.searchbar {
    background: #0000;
    border: none;
    padding: 0;
  }

  .searchbar-ios .searchbar-input {
    padding: 0px 28px;
    border-radius: 12px;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000;
    background-color: #0000;
    border: 1px solid #e1e1e1;
  }
  .searchbar-ios .searchbar-search-icon {
    left: 9px;
    top: 14px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2013%2013'><path%20fill='rgba(0,%200,%200,%200.5)'%20d='M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1%20M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0%20L5,0z'/><line%20stroke='rgba(0,%200,%200,%200.5)'%20stroke-miterlimit='10'%20x1='12.6'%20y1='12.6'%20x2='8.2'%20y2='8.2'/></svg>");
    margin-left: calc(50% - 60px);
    position: absolute;
    width: 16px !important;
    height: 16px !important;
    background-repeat: no-repeat;
    background-size: 13px;
  }
  .item.item-block.item-ios.item-select {
    background: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 12px;
    margin: 10px 0;

    ion-label {
      display: none;
    }
    ion-select {
      width: 100%;
      max-width: 100%;
      padding: 0px 10px 0px 0;
    }
  }

  .flex_contain {
    //display: flex;
    flex-wrap: wrap;
    width: 100%;
    //overflow-y: hidden;
    flex-flow: row;
    padding: 10px 0px 10px;
  }
  .bx_box {
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
    padding: 30px 0;
    border-radius: 10px;
    margin: 0 5px 10px 0;
    width: 47%;
    display: inline-table;
    border: 1px solid #e1e1e1;
    position: relative;
    p {
      font-size: 14px;
      margin: 5px 0 0;
      color: #9f00ff;
    }
    img {
      width: 100%;
      height: 52px;
      object-fit: contain;
    }
    .select_grade {
      position: absolute;
      top: -3px;
      right: -10px;
      background-color: #0000;
    }
  }
  .heading {
    padding: 16px 0 16px;
    font-size: 26px;
    margin: 0;
    font-weight: 600;
    color: #9f00ff;
  }
  .heading_int {
    color: #9f00ff;
    font-size: 18px;
    padding-right: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .user ion-avatar img {
    border-radius: 50%;
    overflow: hidden !important;
    width: 80px !important;
    height: 80px !important;
    object-fit: cover !important;
  }

  .user {
    .wallet_p {
      color: #9f00ff !important;
      //text-decoration: underline;
    }
  }
  .bx_box.bx_box_course {
    width: 230px;
    padding-top: 0;
    overflow: hidden;
    text-align: unset;

    img {
      width: 100%;
      height: auto;
    }
    .box_course {
      padding: 0 10px;
    }
    h5 {
      font-size: 13px;
      display: flex;
      font-weight: 600;
      align-items: center;
      img {
        width: 15px;
        margin-right: 8px;
      }
    }

    span.star img {
      width: 80px !important;
    }
  }

  .price {
    color: #ff9f00;
    font-weight: 600;
    font-size: 20px;
  }

  .badge {
    background: #ff9f00;
    padding: 2px 7px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 3px;
  }
  .star {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .radio-icon {
    border: 1px solid #a502fb;
    border-radius: 50%;
    width: 20px !important;
    height: 20px !important;
  }
  .radio-ios .radio-checked .radio-inner {
    left: 2px;
    top: 2px;
    position: absolute;
    width: 12px;
    height: 12px;
    border-width: 5px;
    border-top-width: 5px;
    border-left-width: 5px;
    border-style: solid;
    border-color: #ff9f00;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
    border: 7px solid #ff9f00;
  }
  .radio-icon.radio-checked {
    border: 1px solid #a306f9;
  }
  ion-item.item.item-block.item-ios.item-radio.item-radio-checked {
    //background: #a404fa;
    //border-radius: 50px;
    color: #fff;
    padding: 0 0px;
  }
  .item-radio-checked.item-ios ion-label {
    color: #333;
  }

  .bx_box.active {
    background: #ff9f00;
    border: 1px solid #a306f9;
    transition: all ease-in-out 0.5s;
    p {
      font-size: 15px;
      margin: 5px 0 0;
      color: #fff;
      font-weight: 600;
    }
  }

  .item-inner {
    padding: 0 !important;
  }
  .card-header {
    background: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 12px;
  }
  .card {
    margin: 10px 0;
    width: 100%;
    background: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 12px;
  }

  .card.card-ios {
    box-shadow: none;
  }
  .card.card-ios.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  .card-content {
    max-height: 0;
    transition: max-height 500ms ease 0s, padding 500ms ease 0s;
  }
  .card.active .card-content {
    max-height: 500px;
    transition: max-height 500ms ease 0s, padding 500ms ease 0s;
  }

  .content_2 {
    padding: 13px 16px 0;
  }
  .card.active .content_2 {
    padding: 13px 16px 13px;
  }

  .btn_phone {
    background: #a305f9;
    padding: 10px;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    color: #fff;
  }
  .btn_mail {
    background: #ff9f00;
    padding: 10px;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    color: #fff;
  }
  .contact_div .item {
    background: #fff;
    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    margin-bottom: 8px;
    padding: 0 16px;
  }
  .about p {
    margin: 6px 0;
    font-size: 14px;
    line-height: 20px;
  }
  .bx_box h3 {
    font-size: 30px;
  }

  .toolbar-title {
    color: #9f00ff !important;
  }
}
