page-terms {
    .back {
        background: #fff;
    }
    h1{
        font-size: 40px;
        text-align: center;
        color: #3f9982;
        margin-top: 30px !important;
    }
     .back p {
        font-size: 15px;
        line-height: 22px;
    }
    .small_fonts {
        text-align: center;
        color: #ccc;
        font-family: 'Nunito-SemiBold';
    }
 .new_menu_class {
        box-shadow: 0 -2px 16px #0000001f;
        padding: 5px 26px;
        height: 100%;
    }
}
