page-teacherhome {

    .dotDot {
        font-size: larger !important;
    }

    .slide-image{
        object-fit: cover !important;
    }
  .content {
        background: #fff;
        background-repeat: repeat;
        background-image: none;
        background-size: auto;
        background-image: url('../assets/imgs/seen/back2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

.toolbar-title {
    text-align: center;
    color:#000 !important;
}
.title {
   // padding: 0 10px !important;
} 

ion-avatar {
	min-width: 45px;
	min-height: 45px;
}
ion-slides {
    display: block;
    width: 100%;
    height: auto;
}
.card_nw {
    border-radius: 8px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.13);
    position: relative;
    .item {
        background: #eaf5f3;
        padding: 10px 16px;
        h2 {
            font-size: 15px;
        }
        p {
            font-size: 13px !important;
            font-family: 'Nunito-Bold';
        }
    }
    .img_fx {
        width: 50px;
        position: absolute;
        right: -2px;
        top: -11px;
    }
}
ion-avatar img {
    border-radius: 50%;
    overflow: hidden;
    width: 45px !important;
    height: 45px !important;
    margin: 0;
    object-fit: contain;
    background: #fff;
}

.toolbar-background {
    border-color: rgba(255, 255, 255, 0) !important;
}
.upper_segment .segment-button {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 0;
        height: 3.2rem;
        font-size: 1.3rem;
        line-height: 3rem;
        background-color: transparent;
        border: none !important;
        border-bottom: 2px solid #0000 !important;
        border-radius: 0 !important;
        font-size: 16px !important;
        color: #525252 !important;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 14px !important;
    }

    .upper_segment .segment-button.segment-activated {
        color: #0dbcfd !important;
        background-color: #fff !important;
        opacity: 1 !important;
        -webkit-transition: 100ms all linear;
        transition: 100ms all linear;
        border-bottom: 2px solid #0dbcfd !important;
        border: none;
    }

    .upper_segment {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}





.search_panel.searchbar {
    background: #0000;
    border: none;
    padding:0;
}

.searchbar-ios .searchbar-input {
    padding: 0px 28px;
    border-radius: 12px;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000;
    background-color: #0000;
    border: 1px solid #e1e1e1;
}
.searchbar-ios .searchbar-search-icon {
    left: 9px;
    top: 14px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2013%2013'><path%20fill='rgba(0,%200,%200,%200.5)'%20d='M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1%20M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0%20L5,0z'/><line%20stroke='rgba(0,%200,%200,%200.5)'%20stroke-miterlimit='10'%20x1='12.6'%20y1='12.6'%20x2='8.2'%20y2='8.2'/></svg>");
    margin-left: calc(50% - 60px);
    position: absolute;
    width: 16px !important;
    height: 16px !important;
    background-repeat: no-repeat;
    background-size: 13px;
}
.item.item-block.item-ios.item-select {
    background: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 12px;
    margin: 10px 0;
}


.flex_contain {

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    padding: 10px 0px 10px;
}
 .bx_box {
    text-align: center;
    background: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
    padding: 10px 0;
    border-radius: 10px;
    margin: 0 8px 0 0;
    width: 105px;
    display: inline-table;
    border: 1px solid #e1e1e1;
    p{
      font-size: 14px;
      margin: 5px 0 0;
      white-space: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    img {
    width: 100%;
    height: 52px;
    object-fit: contain;
}
}
.heading {
    padding: 16px 0 0px;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

.bx_box.bx_box_course {
    width: 230px;
    padding-top: 0;
    display: inline-block;
    overflow: hidden;
    text-align: unset;

        img {
            width: 100%;
            height: auto;
        }
        .box_course {
            padding: 0 10px;
        }
        h5 {
        font-size: 15px;
        margin: 10px 0;
        display: flex;
        font-weight: 600;
        align-items: center;
        margin: 5px 0px;
            img{
            width:15px;
            margin-right: 8px;
            }
        }

        span.star img {
            width: 80px !important;
            }
    }
    
.price {
    color: #ff9f00;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}

.badge {
    background: #ff9f00;
    padding: 2px 7px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 3px;
}
.star {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0 2px;
}

.top_slide {
	position: relative;
}
.content_top {
	position: absolute;
    bottom: 3px;
    padding: 10px;
    background: #000000b3;
    left: 0;
    width: 100%;
    text-align: left;
		.price {
	    color: #ff9f00;
		font-weight: 600;
		font-size: 20px;
		margin: 7px 0px 0;
	}
}

.btn_cont {
    background-image: -webkit-gradient(linear, left top, right top, from(#7551ce), to(#9f00ff));
    background-image: linear-gradient(to right, #7551ce 0%, #9f00ff 100%);
    width: 80px;
    font-size: 11px;
    margin: 5px 0 0;
}

.levelSpan {
    font-size: 10px;
    border: 1px solid #9f00ff;
    padding: 0 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
}
