page-payment-option {
    .back_img {
        // background: url(../assets/imgs/login/background.png);
        // background-color: rgba(0, 0, 0, 0);
        // background-position-x: 0%;
        // background-position-y: 0%;
        // background-repeat: repeat;
        // background-size: auto;
        // background-color: rgba(0, 0, 0, 0);
        // background-position-x: 0%;
        // background-position-y: 0%;
        // background-repeat: repeat;
        // background-size: auto;
        // background-size: cover;
        // background-position: top center;
        // background-repeat: no-repeat;
        background-color: white;
    }
    .logo img {
        width: 300px;
    }
    .logo {
        padding: 0;
        text-align: center;
    }
}