@font-face {
    font-family: 'sfbold';
    src: url('../assets/fonts/font/FontsFree-Net-SFProDisplay-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'sfregular';
    src: url('../assets/fonts/font/FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype');
}