<ion-header dir="rtl">
    <ion-navbar color="light">
        <ion-title>{{ lessonDetail.lession_name }}</ion-title>
        <ion-buttons end>
            <button *ngIf="auth.getUserDetails()?.user_type == 1" icon-only clear ion-button
                            (click)="presentActionSheet()">
                <ion-icon name="md-more" color="dark"></ion-icon>
            </button>
            <button ion-button clear icon-only style="margin:0px 10px;" (click)="opensidebar()">
                <img src="assets/imgs/home/bar1.png" height="16" />
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="bx_box bx_box_course">
        <!--   <img src="assets/imgs/seen/course-detail.png"> -->
        <!-- <ion-slides pager>
            <ion-slide> -->
        <img style="height: 350px;object-fit: cover;width: 100% !important;" width="100%"
            *ngIf="lessonDetail.lession_image" [src]="lessonDetail?.lession_image" />
        

        <div class="box_course">
            <div padding-top>
                <video controlsList="nodownload" *ngIf="lessonDetail?.lession_video" controls
                    [poster]="lessonDetail.video_thumbnail">
                    <source [src]="lessonDetail?.lession_video" type="video/mp4" />
                </video>
            </div>
            <h3 padding-right>شرح مكتوب للدرس </h3>
            <div *ngIf="lessonDetail.youtube_link" class="videoWrapper">
                <iframe *ngIf="lessonDetail.youtube_link" width="100%" height="160" frameborder="0" allowfullscreen
                    [src]="youtubeUrl"
                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
               
                <div class="over"></div>
            </div>


            <!-- <p>{{ lessonDetail.lession_description }}</p> -->
            <div padding-right [innerHTML]="lessonDetail.lession_description"></div>

        </div>
    </div>
    <hr />
    <h3 class="heading" style="padding-bottom:16px; z-index:99999" padding-horizontal>
        محتوى الاختبار
        <button *ngIf="auth.getUserDetails()?.user_type == 1" (click)="addQuiz()" small class="btn_cont" ion-button>
            اضافة اختبار
        </button>
    </h3>

    <div class="noDatadiv" *ngIf="lessonDetail?.quiz?.length == 0">
        <ion-icon name="ios-search-outline"></ion-icon>
        <p>لم يتم العثور على شيء!</p>
    </div>

    <ion-card *ngFor="let item of lessonDetail?.quiz">
        <ion-card-header no-padding *ngIf="auth.getUserDetails()?.user_type == 1">
            <ion-item (click)="openQuiz(item); $event.stopPropagation()" class="item_head">
                {{ item.quiz_title }}
                <span *ngIf="auth.getUserDetails()?.user_type == 1"
                    (click)="quizActionSheet(item.quiz_id); $event.stopPropagation()" item-end>
                    <ion-icon name="md-more"></ion-icon>
                </span>
            </ion-item>
        </ion-card-header>

        <ion-card-header no-padding
            *ngIf="auth.getUserDetails()?.user_type == 2&&item.quiz_count>item.student_play_count">
            <ion-item (click)="openQuiz(item); $event.stopPropagation()" class="item_head">
                {{ item.quiz_title }}
            </ion-item>
        </ion-card-header>
    </ion-card>

    <!-- <ion-item no-lines style="background-color: #0000;">
	<button ion-button small class="btn_cont btn_pay" (click)="prev()" item-start>Previous</button>
	<div class="btn_class" text-center>
	<button ion-button small class="btn_cont complete" (click)="prev()" item-center>Complete</button>
	</div>
	<button ion-button small class="btn_cont btn_pay" (click)="quiz()" item-end>Next</button>
</ion-item> -->
</ion-content>