page-signup {

	.bg {
		/* The image used */
		background-image: url("../../assets/signup/back.png");
	
		/* Full height */
		height: 100%;
	
		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	  }
	  .title{
		color: #2b8e75;
		font-size: 113%;
		margin-top: 5%;
	
	  }
	  .design{
		margin-top: 19%;
	  }
	  .subtitle{
		color: black;
		margin-top: 20px;
	  }
	  .bottom-text {
		color: black;
		font-size: 13px;
		position: absolute;
		bottom: 0;
	}
	  .sstitle{
		color: black;
		margin-top: 10px;
		font-size: 16px;
		margin-bottom: 0;
	  }
	  .bottext{
		color:black;
		font-size: 15px; 
		margin-top: 10px;
		font-family: 'Nunito-Bold';
	  }
	  .bottomtext{
		margin-top: 25px;
		font-size: 15px;
		margin-bottom: 0;
	  }
	  .bottomtext a {
		font-family: 'Nunito-Bold';
	}
	.back_img {
		background: url(../assets/imgs/signup/back.png);
			background-color: rgba(0, 0, 0, 0);
			background-position-x: 0%;
			background-position-y: 0%;
			background-repeat: repeat;
			background-size: auto;
		background-color: rgba(0, 0, 0, 0);
		background-position-x: 0%;
		background-position-y: 0%;
		background-repeat: repeat;
		background-size: auto;
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		background-color: #ececec;
	}

}
